version: "2"

services:
  mssql:
    image: microsoft/mssql-server-linux:2017-latest
    ports:
      - ${MSSQL_PORT}:1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - mssqldb-vol:/var/opt/mssql/data
    restart: ${RESTART}

volumes:
  mssqldb-vol:
    driver: local    